* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: #264351;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Countdown styling */
.countdown {
    font-family: 'Lora', serif;
    font-size: 18px;
    color: #EA3444;
    margin-bottom: 20px;
}

.main-title {
    font-family: 'Lora', serif; /* Changed to Lora */
    font-size: 36px;
    margin-bottom: 10px;
    color: #264351;
}

/* Subheader styling */
.subheader {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
    color: #264351;
}

/* Flexbox for buttons and explainer text */
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}

.button {
    font-family: 'Roboto', sans-serif;
    flex: 1;
    max-width: 250px;
    padding: 15px;
    background-color: #213A53;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s;
    text-align: center;
}

.button:hover {
    background-color: #369CFB;
}

/* Explainer text next to the buttons */
.explainer-text {
    font-family: 'Lora', serif; 
    font-size: 16px;
    font-weight: 700;
    color: #EA3444;
    flex: 1;
    text-align: left;
}

/* Message box styling */
.message-box {
    margin-top: 30px;
    font-size: 18px;
    color: #264351;
    text-align: center;
    font-weight: 500;
}

.logo {
    margin-top: 40px;
    text-align: center;
}

.logo img {
    width: 120px; /* Adjust the size as needed */
}

/* Footer disclaimer */
.footer-disclaimer {
    font-size: 12px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    border: 1px solid #213A53;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .section {
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin-bottom: 10px;
        max-width: 100%;
		width: 60%;
    }

    .explainer-text {
        text-align: center;
        max-width: 100%;
    }
}
